In [10]:
from pandas import *

df_raw: DataFrame = read_excel("sampleCur.xlsx", skiprows=6, na_values=[' '])

df_raw

,#,Number of Generations,Club Member (First name/Last name),Unnamed: 3,CNV (Cumulated Network Volume),Rank,P,PV (Personal Volume),PVG,MCR (Maximum Confirmed Rank),Number of months with zero Volume Points accrued,Club Member Status
0,1,.0,6111685.0,Галюк Елена,> 500,E,NaN,100.0,230.0,E/1,NaN,NaN
1,2,.1,6190205.0,Галюк Дмитрий,> 500,D,NaN,NaN,NaN,SD/28,1.0,m
2,3,.2,6202838.0,Tabolich Anastasiya,> 500,PM,NaN,NaN,NaN,NaN,12.0,m
3,4,.2,6866923.0,Фалавандишвили Натия,> 500,PM,NaN,NaN,7.0,D/28,7.0,m
4,5,.3,6959087.0,Мурванидзе Луиза,> 500,PM,NaN,7.0,NaN,NaN,NaN,m
...,...,...,...,...,...,...,...,...,...,...,...,...
741,o — open rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,n — new confirmed rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,no prefix — closed rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,CNV - Cumulative Network Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,ND - New Director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
excel2Field = {}
excel2Field["#"] = "rownum"
excel2Field["Number of Generations"] = "gen"
excel2Field["Club Member (First name/Last name)"] = "Id"
excel2Field["Unnamed: 3"] = "Name"
excel2Field["CNV (Cumulated Network Volume)"] = "cnv"
excel2Field["Rank"] = "Rank"
excel2Field["P"] = "Pending"
excel2Field["PV (Personal Volume)"] = "Personal"
excel2Field["PVG"] = "Group"
excel2Field["MCR (Maximum Confirmed Rank)"] = "maxrank"
excel2Field["Number of months with zero Volume Points accrued"] = "zeroMonths"
excel2Field["Club Member Status"] = "status"

excel2Field["№"] = "rownum"
excel2Field["Уровень"] = "gen"
excel2Field["Член клуба"] = "Id"
excel2Field["НСО"] = "cnv"
excel2Field["Ранг/нД"] = "Rank"
excel2Field["P"] = "Pending"
excel2Field["ЛО"] = "Personal"
excel2Field["ЛГО"] = "Group"
excel2Field["Max. 3Р"] = "maxrank"
excel2Field["Number of months with zero Volume Points accrued"] = "zeroMonths"
excel2Field["S"] = "status"

df_renamed = df_raw.rename(columns=excel2Field)
df_renamed.head(30)

,rownum,gen,Id,Name,cnv,Rank,Pending,Personal,Group,maxrank,zeroMonths,status
0,1,.0,6111685.0,Галюк Елена,> 500,E,NaN,100.0,230.0,E/1,NaN,NaN
1,2,.1,6190205.0,Галюк Дмитрий,> 500,D,NaN,NaN,NaN,SD/28,1.0,m
2,3,.2,6202838.0,Tabolich Anastasiya,> 500,PM,NaN,NaN,NaN,NaN,12.0,m
3,4,.2,6866923.0,Фалавандишвили Натия,> 500,PM,NaN,NaN,7.0,D/28,7.0,m
4,5,.3,6959087.0,Мурванидзе Луиза,> 500,PM,NaN,7.0,NaN,NaN,NaN,m
5,6,.4,7309266.0,Murvanidze Violeta,135.5,NaN,NaN,NaN,NaN,NaN,3.0,m
6,7,.3,7575828.0,Фалавандишвили Тинатин Тимуровна,35,NaN,NaN,NaN,NaN,NaN,7.0,m
7,8,.2,7688719.0,Konidala Anna,> 500,PM,NaN,NaN,NaN,D/4,1.0,m
8,9,.2,7791032.0,Shaposhnikov Mikhail,NaN,NaN,NaN,NaN,NaN,NaN,2.0,c/60
9,10,.2,7805120.0,Галюк Елена Николаевна,NaN,NaN,NaN,NaN,NaN,NaN,1.0,c/49
10,11,.2,7834868.0,Malyshava Katsiaryna,29,M,NaN,NaN,NaN,NaN,1.0,m
11,12,.1,6190820.0,Синица Тома,> 500,PM,NaN,21.5,21.5,D/69,NaN,m
12,13,.1,6203900.0,Галюк Варя,> 500,A,NaN,43.5,102.5,D/3,NaN,NaN
13,14,.2,6556807.0,Шидловская Анджела Григорьевна,> 500,PM,NaN,11.0,NaN,NaN,NaN,m
14,15,.3,6673758.0,Вабищевич Анна,> 500,PM,NaN,NaN,NaN,NaN,2.0,m
15,16,.4,6684011.0,Дедович Тамара,438.5,NaN,NaN,NaN,NaN,NaN,5.0,m
16,17,.4,6782839.0,Вабищевич Владимир Петрович,221,M,NaN,NaN,NaN,NaN,1.0,m
17,18,.4,6801396.0,Вабищевич Мирослав Владимирович,225.1,NaN,NaN,NaN,NaN,NaN,7.0,m
18,19,.4,6842229.0,Будник Светлана Александровна,271.4,NaN,NaN,NaN,NaN,NaN,6.0,m
19,20,.4,7254343.0,Федосенко Екатерина,133.5,NaN,NaN,NaN,NaN,NaN,4.0,m
20,21,.3,6679651.0,Нестер Христина,> 500,PM,NaN,33.0,NaN,NaN,NaN,m
21,22,.3,6702054.0,Вечерова Наталья,99,NaN,NaN,9.0,NaN,NaN,NaN,m
22,23,.3,6702224.0,Нестер Яна,> 500,PM,NaN,6.0,NaN,NaN,NaN,m
23,24,.2,7187692.0,Коровкина Александра Михайловна,464.5,NaN,NaN,NaN,NaN,NaN,6.0,m
24,25,.2,7310915.0,Фролова Евгения,> 500,PM,NaN,19.2,131.7,D/6,NaN,m
25,26,.3,7322535.0,Мадатова Дина,69.8,NaN,NaN,NaN,NaN,NaN,8.0,m
26,27,.3,7338482.0,Фролова Мелисса,> 500,PM,NaN,10.5,NaN,NaN,NaN,m
27,28,.4,7439339.0,Грищенко Елена,94,NaN,NaN,NaN,NaN,NaN,8.0,m
28,29,.4,7449946.0,Назарова Наталия,90,NaN,NaN,NaN,NaN,NaN,10.0,m
29,30,.4,7456980.0,Kosiakova Ekaterina,438.2,M,NaN,NaN,NaN,NaN,1.0,m

In [12]:
df_neededColumns = df_renamed.drop(columns=["rownum", "cnv", "status", "maxrank", "zeroMonths"], errors="ignore")
df_neededColumns

        gen         Id                  Name Rank  Pending  Personal  Group
0       .0   6111685.0           Галюк Елена    E      NaN     100.0  230.0
1       .1   6190205.0         Галюк Дмитрий    D      NaN       NaN    NaN
2       .2   6202838.0   Tabolich Anastasiya   PM      NaN       NaN    NaN
3       .2   6866923.0  Фалавандишвили Натия   PM      NaN       NaN    7.0
4       .3   6959087.0      Мурванидзе Луиза   PM      NaN       7.0    NaN
..      ...        ...                   ...  ...      ...       ...    ...
741     NaN        NaN                   NaN  NaN      NaN       NaN    NaN
742     NaN        NaN                   NaN  NaN      NaN       NaN    NaN
743     NaN        NaN                   NaN  NaN      NaN       NaN    NaN
744     NaN        NaN                   NaN  NaN      NaN       NaN    NaN
745     NaN        NaN                   NaN  NaN      NaN       NaN    NaN

[746 rows x 7 columns]

In [13]:
df_noNA = df_neededColumns.dropna(subset=['Id'])
df_noNA.head(20)

,gen,Id,Name,Rank,Pending,Personal,Group
0,.0,6111685.0,Галюк Елена,E,NaN,100.0,230.0
1,.1,6190205.0,Галюк Дмитрий,D,NaN,NaN,NaN
2,.2,6202838.0,Tabolich Anastasiya,PM,NaN,NaN,NaN
3,.2,6866923.0,Фалавандишвили Натия,PM,NaN,NaN,7.0
4,.3,6959087.0,Мурванидзе Луиза,PM,NaN,7.0,NaN
5,.4,7309266.0,Murvanidze Violeta,NaN,NaN,NaN,NaN
6,.3,7575828.0,Фалавандишвили Тинатин Тимуровна,NaN,NaN,NaN,NaN
7,.2,7688719.0,Konidala Anna,PM,NaN,NaN,NaN
8,.2,7791032.0,Shaposhnikov Mikhail,NaN,NaN,NaN,NaN
9,.2,7805120.0,Галюк Елена Николаевна,NaN,NaN,NaN,NaN
10,.2,7834868.0,Malyshava Katsiaryna,M,NaN,NaN,NaN
11,.1,6190820.0,Синица Тома,PM,NaN,21.5,21.5
12,.1,6203900.0,Галюк Варя,A,NaN,43.5,102.5
13,.2,6556807.0,Шидловская Анджела Григорьевна,PM,NaN,11.0,NaN
14,.3,6673758.0,Вабищевич Анна,PM,NaN,NaN,NaN
15,.4,6684011.0,Дедович Тамара,NaN,NaN,NaN,NaN
16,.4,6782839.0,Вабищевич Владимир Петрович,M,NaN,NaN,NaN
17,.4,6801396.0,Вабищевич Мирослав Владимирович,NaN,NaN,NaN,NaN
18,.4,6842229.0,Будник Светлана Александровна,NaN,NaN,NaN,NaN
19,.4,7254343.0,Федосенко Екатерина,NaN,NaN,NaN,NaN

In [14]:
df_recast = df_noNA.convert_dtypes(convert_floating=True, convert_integer=True)
df_recast["Personal"].astype(float)
df_recast["Id"].astype(int)
df_recast

        gen       Id                  Name  Rank  Pending  Personal  Group
0       .0   6111685           Галюк Елена     E     <NA>     100.0  230.0
1       .1   6190205         Галюк Дмитрий     D     <NA>      <NA>   <NA>
2       .2   6202838   Tabolich Anastasiya    PM     <NA>      <NA>   <NA>
3       .2   6866923  Фалавандишвили Натия    PM     <NA>      <NA>    7.0
4       .3   6959087      Мурванидзе Луиза    PM     <NA>       7.0   <NA>
..      ...      ...                   ...   ...      ...       ...    ...
723     .1   7625037       Зоидзе Светлана  <NA>     <NA>      <NA>   <NA>
724     .1   7634313       Rodionova Elena  <NA>     <NA>      <NA>   <NA>
725     .1   7659464        Каитамба Раули     M     <NA>      <NA>   <NA>
726     .1   7742962         Павлова Ирина    PM     <NA>      <NA>   <NA>
727     .1   7821743       Lohvynenko Olha  <NA>     <NA>      68.0   <NA>

[728 rows x 7 columns]

In [15]:
df_gen = df_recast
df_gen.gen = df_gen.gen.apply(lambda x: int(str(x).split(".")[-1]) )
df_gen

     gen       Id                  Name  Rank  Pending  Personal  Group
0      0  6111685           Галюк Елена     E     <NA>     100.0  230.0
1      1  6190205         Галюк Дмитрий     D     <NA>      <NA>   <NA>
2      2  6202838   Tabolich Anastasiya    PM     <NA>      <NA>   <NA>
3      2  6866923  Фалавандишвили Натия    PM     <NA>      <NA>    7.0
4      3  6959087      Мурванидзе Луиза    PM     <NA>       7.0   <NA>
..   ...      ...                   ...   ...      ...       ...    ...
723    1  7625037       Зоидзе Светлана  <NA>     <NA>      <NA>   <NA>
724    1  7634313       Rodionova Elena  <NA>     <NA>      <NA>   <NA>
725    1  7659464        Каитамба Раули     M     <NA>      <NA>   <NA>
726    1  7742962         Павлова Ирина    PM     <NA>      <NA>   <NA>
727    1  7821743       Lohvynenko Olha  <NA>     <NA>      68.0   <NA>

[728 rows x 7 columns]

In [16]:
levelId = {}
def id_gen_2_parent(id, gen) -> int:
    levelId[gen] = id
    return levelId[gen-1] if gen > 0 else -1

if "ParentId" not in df_gen.columns:
    df_gen.insert(loc=3, column="ParentId", value=df_gen.apply(lambda x: id_gen_2_parent(x.Id, x.gen), axis=1))
    df_gen.ParentId = df_gen.ParentId.astype(int)

df_gen

,gen,Id,Name,ParentId,Rank,Pending,Personal,Group
0,0,6111685,Галюк Елена,-1,E,<NA>,100.0,230.0
1,1,6190205,Галюк Дмитрий,6111685,D,<NA>,<NA>,<NA>
2,2,6202838,Tabolich Anastasiya,6190205,PM,<NA>,<NA>,<NA>
3,2,6866923,Фалавандишвили Натия,6190205,PM,<NA>,<NA>,7.0
4,3,6959087,Мурванидзе Луиза,6866923,PM,<NA>,7.0,<NA>
...,...,...,...,...,...,...,...,...
723,1,7625037,Зоидзе Светлана,6111685,<NA>,<NA>,<NA>,<NA>
724,1,7634313,Rodionova Elena,6111685,<NA>,<NA>,<NA>,<NA>
725,1,7659464,Каитамба Раули,6111685,M,<NA>,<NA>,<NA>
726,1,7742962,Павлова Ирина,6111685,PM,<NA>,<NA>,<NA>
727,1,7821743,Lohvynenko Olha,6111685,<NA>,<NA>,68.0,<NA>

In [17]:
members = {}
parents = {}

def calculate_overallstructure_total(id):
    member = members[id]
    member["Overall"] += member["Personal"] or 0
    if id in parents:
        children = [c for c in members.values() if c["ParentId"] == member["Id"]]
        for c in children:
            member["Overall"] += calculate_overallstructure_total(c["Id"])
    return member["Overall"]

df_gen["Overall"] = 0
d = df_gen.to_dict(orient="index")
members = {r["Id"] : r for r in d.values()}
parents = {r["ParentId"] : r["Id"] for r in d.values()}
calculate_overallstructure_total(parents[-1])
memberOverall = {x["Id"]: x["Overall"] for x in members.values()}
df_gen["Overall"] = df_gen["Id"].map(memberOverall)
df_gen

,gen,Id,Name,ParentId,Rank,Pending,Personal,Group,Overall
0,0,6111685,Галюк Елена,-1,E,<NA>,100.0,230.0,12884.7
1,1,6190205,Галюк Дмитрий,6111685,D,<NA>,<NA>,<NA>,7.0
2,2,6202838,Tabolich Anastasiya,6190205,PM,<NA>,<NA>,<NA>,0.0
3,2,6866923,Фалавандишвили Натия,6190205,PM,<NA>,<NA>,7.0,7.0
4,3,6959087,Мурванидзе Луиза,6866923,PM,<NA>,7.0,<NA>,7.0
...,...,...,...,...,...,...,...,...,...
723,1,7625037,Зоидзе Светлана,6111685,<NA>,<NA>,<NA>,<NA>,0.0
724,1,7634313,Rodionova Elena,6111685,<NA>,<NA>,<NA>,<NA>,0.0
725,1,7659464,Каитамба Раули,6111685,M,<NA>,<NA>,<NA>,0.0
726,1,7742962,Павлова Ирина,6111685,PM,<NA>,<NA>,<NA>,0.0
727,1,7821743,Lohvynenko Olha,6111685,<NA>,<NA>,68.0,<NA>,68.0

In [18]:
df_gen.query("Overall < 50 and Overall > 0")

,gen,Id,Name,ParentId,Rank,Pending,Personal,Group,Overall
1,1,6190205,Галюк Дмитрий,6111685,D,<NA>,<NA>,<NA>,7.0
3,2,6866923,Фалавандишвили Натия,6190205,PM,<NA>,<NA>,7.0,7.0
4,3,6959087,Мурванидзе Луиза,6866923,PM,<NA>,7.0,<NA>,7.0
11,1,6190820,Синица Тома,6111685,PM,<NA>,21.5,21.5,21.5
20,3,6679651,Нестер Христина,6556807,PM,<NA>,33.0,<NA>,33.0
21,3,6702054,Вечерова Наталья,6556807,<NA>,<NA>,9.0,<NA>,9.0
22,3,6702224,Нестер Яна,6556807,PM,<NA>,6.0,<NA>,6.0
29,4,7456980,Kosiakova Ekaterina,7338482,M,<NA>,<NA>,<NA>,47.0
30,5,7843365,Шакирьянов Артур Рафикович,7456980,<NA>,<NA>,47.0,<NA>,47.0
40,1,6204299,Галюк Надя,6111685,A,<NA>,<NA>,<NA>,41.0
41,2,6217050,Шинкевич Валентина,6204299,PM,<NA>,<NA>,41.0,41.0
42,3,6218172,Шинкевич Андрей,6217050,PM,<NA>,41.0,<NA>,41.0
55,6,7308878,Гаковец Ирина,7239028,PM,<NA>,37.4,37.4,37.4
82,6,7532208,Forgione Vincenza,7256000,M,<NA>,45.0,<NA>,45.0
95,3,6860177,Querido Masabanda Narcisa Susana,6812892,PM,<NA>,<NA>,<NA>,32.0
97,4,7034455,Granda Gloria,6860177,PM,<NA>,<NA>,32.0,32.0
98,5,7149265,Merli Anna,7034455,PM,<NA>,32.0,<NA>,32.0
183,7,7807506,Inghilleri Leonardo,7467998,M,<NA>,45.0,<NA>,45.0
232,6,7823854,Samborska Ksana,7821620,M,<NA>,46.0,<NA>,46.0
249,5,7476333,Дабижа Людмила,7312476,<NA>,<NA>,24.4,<NA>,24.4
267,6,7810296,Pylypchuk Oksana,7801255,<NA>,<NA>,14.0,<NA>,14.0
330,2,7642689,Чекулаева Владлена,6300800,PM,<NA>,<NA>,15.0,15.0
331,3,7765652,Mikhaylovska Valeriya,7642689,M,<NA>,15.0,<NA>,15.0
333,1,6334879,Шабалина Татьяна,6111685,PM,<NA>,6.0,<NA>,6.0
342,4,6990065,Прохорова Ксения,6920760,A,<NA>,<NA>,44.0,44.0
356,5,7382199,Гайдук Александр,6990065,PM,<NA>,22.4,<NA>,22.4
361,5,7687442,Антипов Евгений Сергеевич,6990065,<NA>,<NA>,21.6,<NA>,21.6
374,8,7662818,Шишкова Светлана Владиславовна,7621745,M,<NA>,36.4,<NA>,36.4
417,5,7727757,Stratu Marcela,6995957,M,<NA>,30.0,<NA>,30.0
432,5,7782702,Karelson Marina,6995957,M,<NA>,44.4,<NA>,44.4
440,4,7160281,Кубиря Анна,6920760,M,<NA>,37.4,<NA>,37.4
532,7,7645248,Алаторцев Юрій,7614519,<NA>,<NA>,43.4,<NA>,43.4
629,6,7780403,Бобина Гульназ Рамазановна,7752830,<NA>,<NA>,13.0,<NA>,13.0
639,6,7792346,Усанова Ольга Олеговна,7791512,M,<NA>,44.8,<NA>,44.8
643,6,7820588,Елинская Алла Михайловна,7791512,M,<NA>,44.8,<NA>,44.8
647,6,7838417,Rukhaya Marina,7791512,<NA>,<NA>,37.4,<NA>,37.4
650,5,7794402,Markuze Marin,7734172,M,<NA>,24.0,<NA>,24.0
678,4,7801846,Маргарита Галян,6920760,<NA>,<NA>,15.0,<NA>,15.0
682,4,7830833,Амирханян Роберт,6920760,<NA>,<NA>,45.4,<NA>,45.4
686,4,7873849,Tevzadze Megi,6920760,<NA>,<NA>,12.0,<NA>,12.0